h1{
    text-align: center;
    color: #007bff;
    padding: 10px;
    font-size: 250%;
    font-family: Georgia, Serif;
    background: #7bd39d;
    border-radius: 3px;
    
}

.container{
   padding: 40px;
    border: solid 2px black;
    background: #ffffff;
    margin: auto;
    margin-top: 50px;
    margin-block-end: 50px;
    

}

.enca img{
    float:left;
    padding: 8px;


}

h2{
    color: #3d93f0;
    text-align: center;

}

.contenido{
    padding: 50px;
    margin: 50px;
    background: #87cdd6;
    border: solid 2px blue;
    padding: 70px 20px;
    padding-top: 30px;
     

}

.agendar{
    justify-content: center;
}



p{
    color: #031810;
    text-align: justify;

}

.politica{
    padding: 10px 30px;
    border: 1px solid black;
    margin: 10px;
}

.ingresar{
    padding: 10px 30px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    background: #7bdcef;
}

.ini{
    color: #170e8d;
    margin: 10px;
}

.reg{
    margin: 20px;
    padding: 10px;
    color: rgb(32, 20, 207);
    text-align: center;
    
    border: solid 1px black;
    
}

.contra{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 10px;
    color: rgb(129, 9, 5);
    text-align: center;
    
    
    
    
}

.nuevo{
    padding: 10px 30px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

.cabeza img {
    display: block;
    margin: 0 auto;
    max-width: 20%;
    
}

.pie{
    text-align: center;
    color: #1f66b3;
    font-size: 20px;
    margin: 15px 0px;
    background: #b1c2d3;
    padding: 10px;
    border: solid 2px blue;
    border-radius: 3px;
}
.recuperar{
    text-align: center;
}

.recu{
    margin: 100px 300px;
    border: solid 1px black;
    padding: 20px;
    text-align: center;
    background: #7bdcef;
}

.navbar-collapse {
    display: flex;
    justify-content: center;

}

.menu {
    margin: 20px;
    background: #557cfc;
    border-radius: 3px;
}


.nav-link:hover, .navbar-brand:hover{
    background-color: #FAE5D3;
    color: white;
    
    cursor: pointer;
}
.nav-link, .navbar-brand{
        
        cursor: pointer;
        padding: 5px;
        margin: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

.mr-auto .nav-item .nav-link, .navbar-light .navbar-brand{
    color: #FAE5D3;
    font-family: Impact, Charcoal, sans-serif;

}

    .navbar-collapse {
        display: flex;
        justify-content: center;
    
    }


.navbar-toggler{
    color: #349122;
    border-radius: 5px;
    border: solid gray 3px;
    padding: 0px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link1:hover{
    color: red;
    
    
}

.home{
    border: solid 2px blue;
    margin: 35px 15px;
    padding: 50px 20px;
    background: #87cdd6;
    border-radius: 3px;

}

.datos{
    color:black;
    margin: 0px 100px;
}

.foto{
    margin: 100px 20px;
}

.confirmar{
    margin-top: 5px;
}

.tema {
    padding: 123px 0px;
    border-radius: 60px;
    
}

.fondoblanco .table1{
border-radius: 3px;
border-color: #90dfec;
background-color: #557cfc;
}

<table role="table">
  <thead role="rowgroup">
    <tr role="row">
      <th role="columnheader">First Name</th>
      <th role="columnheader">Last Name</th>
      <th role="columnheader">Job Title</th>
      <th role="columnheader">Favorite Color</th>
      <th role="columnheader">Wars or Trek?</th>
      <th role="columnheader">Secret Alias</th>
      <th role="columnheader">Date of Birth</th>
      <th role="columnheader">Dream Vacation City</th>
      <th role="columnheader">GPA</th>
      <th role="columnheader">Arbitrary Data</th>
    </tr>
  </thead>
  <tbody role="rowgroup">
    <tr role="row">
      <td role="cell">James</td>
      <td role="cell">Matman</td>
      <td role="cell">Chief Sandwich Eater</td>
      <td role="cell">Lettuce Green</td>
      <td role="cell">Trek</td>
      <td role="cell">Digby Green</td>
      <td role="cell">January 13, 1979</td>
      <td role="cell">Gotham City</td>
      <td role="cell">3.1</td>
      <td role="cell">RBX-12</td>
    </tr>
    <tr role="row">
      <td role="cell">The</td>
      <td role="cell">Tick</td>
      <td role="cell">Crimefighter Sorta</td>
      <td role="cell">Blue</td>
      <td role="cell">Wars</td>
      <td role="cell">John Smith</td>
      <td role="cell">July 19, 1968</td>
      <td role="cell">Athens</td>
      <td role="cell">N/A</td>
      <td role="cell">Edlund, Ben (July 1996).</td>
    </tr>
    <tr role="row">
      <td role="cell">Jokey</td>
      <td role="cell">Smurf</td>
      <td role="cell">Giving Exploding Presents</td>
      <td role="cell">Smurflow</td>
      <td role="cell">Smurf</td>
      <td role="cell">Smurflane Smurfmutt</td>
      <td role="cell">Smurfuary Smurfteenth, 1945</td>
      <td role="cell">New Smurf City</td>
      <td role="cell">4.Smurf</td>
      <td role="cell">One</td>
    </tr>
    <tr role="row">
      <td role="cell">Cindy</td>
      <td role="cell">Beyler</td>
      <td role="cell">Sales Representative</td>
      <td role="cell">Red</td>
      <td role="cell">Wars</td>
      <td role="cell">Lori Quivey</td>
      <td role="cell">July 5, 1956</td>
      <td role="cell">Paris</td>
      <td role="cell">3.4</td>
      <td role="cell">3451</td>
    </tr>
    
  </tbody>
</table>